controller_manager:
  ros__parameters:
    update_rate: 50

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    steering_controller:
      type: position_controllers/JointGroupPositionController

    wheel_controller:
      type: velocity_controllers/JointGroupVelocityController


# ====== Steering controller ========
steering_controller:
  ros__parameters:
    joints:
      - steering_joint_left
      - steering_joint_right
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    base_frame_id: base_link_rot
    odom_frame_id: odom




# ====== Wheel velocity controller ========
wheel_controller:
  ros__parameters:
    joints:
      - wheel_joint_front_left
      - wheel_joint_front_right
      - wheel_joint_rear_left
      - wheel_joint_rear_right
    command_interfaces:
      - velocity
    state_interfaces:
      - velocity
    gains:
      wheel_joint_front_left:
        p: 100.0   # <-- P 게인을 충분히 높은 값으로 설정
        i: 10.0
        d: 0.1
      wheel_joint_front_right:
        p: 100.0
        i: 10.0
        d: 0.1
      wheel_joint_rear_left:
        p: 100.0
        i: 10.0
        d: 0.1
      wheel_joint_rear_right:
        p: 100.0
        i: 10.0
        d: 0.1
    base_frame_id: base_link_rot
    odom_frame_id: odom