/rc_car/controller_manager:
  ros__parameters:
    use_sim_time: true
    update_rate: 50

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    steering_controller:
      type: position_controllers/JointGroupPositionController

    wheel_controller:
      type: velocity_controllers/JointGroupVelocityController


/rc_car/steering_controller:
  ros__parameters:
    joints:
      - steering_joint_left
      - steering_joint_right
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    base_frame_id: base_link_rot
    odom_frame_id: odom


/rc_car/wheel_controller:
  ros__parameters:
    joints:
      - wheel_joint_front_left
      - wheel_joint_front_right
      - wheel_joint_rear_left
      - wheel_joint_rear_right
    command_interfaces:
      - velocity
    state_interfaces:
      - velocity
    gains:
      wheel_joint_front_left:
        p: 100.0
        i: 10.0
        d: 0.1
      wheel_joint_front_right:
        p: 100.0
        i: 10.0
        d: 0.1
      wheel_joint_rear_left:
        p: 100.0
        i: 10.0
        d: 0.1
      wheel_joint_rear_right:
        p: 100.0
        i: 10.0
        d: 0.1
    base_frame_id: base_link_rot
    odom_frame_id: odom
