<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetank">
	<!-- All other sensors such as Camera's, LiDAR's, IMU , etc... -->

	<!--Dummy link -->
	<link name="DUMMY_CAMERA"/>
	<link name="CAMERA_OPTICAL"/>

	<!-- Joint from camera to Dummy link -->
	<joint name="dummy_camera_joint" type="fixed">
        <origin xyz="0.06 0 0.05" rpy="0 0 0" />
        <parent link="ARM_LOWER_1" /> <!-- MAGNETIC_HOLDER_1 -->
		<child link="DUMMY_CAMERA" />
	</joint>
	
	<joint name="camera_optical_joint" type="fixed">
		<origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="DUMMY_CAMERA" />
		<child link="CAMERA_OPTICAL" />
	</joint>

	<gazebo reference="DUMMY_CAMERA">
		<sensor name="camera" type="camera">
			<pose> 0 0 0 0 0 0 </pose>
			<visualize>true</visualize>
			<update_rate>10</update_rate>
			<camera>
				<camera_info_topic>camera/camera_info</camera_info_topic>
				<horizontal_fov>1.5</horizontal_fov>
				<image>
					<!-- (RED) 8 bits + (BLUE) 8 bits  + (GREEN) 8 bits -->
					<format>R8G8B8</format>
					<width>640</width>
					<height>480</height>
				</image>
				<clip>
					<near>0.05</near>
					<far>8.0</far>
				</clip>
			</camera>
			<always_on>1</always_on>
			<topic>$(arg namespace)/camera/image_raw</topic>
            <gz_frame_id>CAMERA_OPTICAL</gz_frame_id>
		</sensor>
	</gazebo>

	<!-- required for Gazebo such that ros2_control can work. We need to load a config file to tell what controllers to load -->
	<gazebo>
		<plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
			<parameters>
				$(find jetank_description)/config/jetank_controllers.yaml
			</parameters>
			<controller_manager_prefix_node_name>$(arg namespace)/controller_manager</controller_manager_prefix_node_name>
			<ros>
				<namespace>$(arg namespace)</namespace>
				<remapping>/robot_description:=robot_description</remapping>
				<remapping>/tf:=tf</remapping>
				<remapping>/tf_static:=tf_static</remapping>
			</ros>
		</plugin>
	</gazebo>
	
</robot>
