<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetank">

	<ros2_control name="jetank_controller" type="system">
		<hardware>
			<plugin>ign_ros2_control/IgnitionSystem</plugin>
		</hardware>

		<joint name="Revolute_BEARING"> <!-- turn_ARM -->
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="Revolute_DRIVING_WHEEL_L"> <!-- DRIVING_WHEEL_LEFT -->
			<command_interface name="velocity">
				<param name="min">-10</param>
				<param name="max">10</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="Revolute_DRIVING_WHEEL_R"> <!-- DRIVING_WHEEL_RIGHT -->
			<command_interface name="velocity">
				<param name="min">-10</param>
				<param name="max">10</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="Revolute_FREE_WHEEL_LEFT"> <!-- FREE_WHEEL_LEFT -->
			<command_interface name="velocity">
				<param name="min">-10</param>
				<param name="max">10</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="Revolute_FREE_WHEEL_RIGHT"> <!-- FREE_WHEEL_RIGHT -->
			<command_interface name="velocity">
				<param name="min">-10</param>
				<param name="max">10</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="Revolute_SERVO_UPPER"> <!-- SERVO_UPPER_ -->
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="Revolute_ARM_LOW"> <!-- SERVO_LOWER_ -->
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="Revolute_SERVO_TOP"> <!-- GRIPPER_LEFT_1 -->
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="Revolute_MAGNETIC_BAR"> <!-- GRIPPER_RIGHT_1 -->
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="Revolute_MAGNETIC"> <!-- GRIPPER_RIGHT_2 -->
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

	</ros2_control>
</robot>