<?xml version="1.0"?>

<model>
  <name>jenga_magnetic</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>jinsun</name>
    <email>012@gmail.org</email>
  </author>

  <author>
    <name>jinsun</name>
  </author>

  <description>5.2cm * 1.3cm * 1.2cm</description>
</model>
